---
layout: default
---

<div class="row header-row"> <!-- 0 -->

<div class="col-md-9"> <!--1-->
	<ul class="course-information">
    	<li> <b>Instructor</b>: {{ site.instructor }} </li>
    	<li> <b>Office</b>: {{ site.office }} </li>
    	<li> <b>Lecture Schedule</b>: {{ site.lecture_schedule }} </li>
      {% if site.office_hours %}
      <li> <b>Office Hours</b>: {{ site.office_hours }}</li>
      {% endif %}
      {% if site.TA_office_hours %}
      <li> <b>TA Office Hours</b>: {{ site.TA_office_hours }}</li>
      {% endif %}
	</ul>

<div class="row well well-sm">
  <div class="col-md-9">
    <h4><b>Midterm exam in class, November 14</h4>
    <h4><b><a href="practice-midterm.pdf">Practice sheet for midterm</a></h4>
    <p><b>Note:</b> slight correction to wording of problem 2, hint added to problem 3(b), and correction to problem 9</p>
  </div>
</div>

<div class="row well well-sm">
    <h3>Homework</h3>
{% for h in site.data.homework reversed %}
	<div class="col-md-9">
		<a href="homework/{{ h.filename }}">
	  <b>{{h.title}}</b>: due {{h.due}}
    </a>
	</div>
{% endfor %}
</div>



<div class="row well well-sm">
  <div class="col-md-9">
    <h3>Videos!</h3>

    <b>Lecture 4: The class equation and the Sylow theorems</b>
    <ul>
      <li><a href="https://youtu.be/yEtoHdeDwRQ">The correspondence theorem in group theory</a></li>
      <li><a href="https://youtu.be/_GIY14CeMU8">Products of subgroups</a></li>
      <li><a href="https://youtu.be/FWCdnzjkn84">The class equation</a></li>
      <li><a href="https://youtu.be/WXUcu_SXG-4">The Sylow theorems</a></li>
    </ul>
    <b>Lecture 5: Using the Sylow theorems for groups of small order</b>
    <ul>
      <li><a href="https://youtu.be/2wZVdLahIQI">Groups of order at most 11</a></li>
      <li><a href="https://youtu.be/lFb1jenu6fM">Groups of order 12</a></li>
      <li><a href="https://youtu.be/K_VQBY4svsQ">Groups of order 30</a></li>
      <li><a href="https://youtu.be/jIMBupnbxxA">Groups of order 60 and the simplicity of the alternating group on 5 elements</a></li>
    </ul>
    <b>Lecture 7: Recognizing and distinguishing semidirect products</b>
    <ul>
      <li><a href="https://youtu.be/McM7v1luwJU">Video</a></li>
    </ul>
  </div>
</div>

</div><!--/1 -->

</div><!--/0 -->




